
body {
  background-color: rgb(11, 104, 224);
}

div {
  display: flex;
  justify-content: center;
}
img {
  border-radius: 50%;
  width: 400px;
  height: 400px;
}

.meuNome, .descricao {
  font-family: Arial, Helvetica, sans-serif;
}

em {
  color: rgb(67, 138, 83);
}

.javascript {
  font-size: 20px;
}

.sql {
  font-size: 18px;
}

.react {
  font-size: 16px;
}

.bootstrap {
  font-size: 14px;
}

.metoAgil {
  font-size: 12px;
}
